<div class="clearfix" id="content" role="main">
      
  <div class="clearfix page-container instapaper_body hentry full-width">

    <h1 class="page-title instapaper_title entry-title">ABOUT US</h1>

      <div id="page-content" class="rte">
        <p><b>Scratch&nbsp;</b>was born out of the simple idea that nail wraps are really cool but most of the designs currently out there are not. &nbsp;We also strongly felt that if we could create an&nbsp;environment that fosters creativity and connecting talented artists with their communities, that we would be able to start something that was <b>more than just another nail wrap company</b>.</p>
        <p>Our goal with Scratch is to <b>create amazing art for our nails, together</b>. Teaming up with incredible nail artists, designers, bloggers and illustrators from around the world, we will bring a new collection of well designed nail wraps every month. Each month will be focused on the current <b><i><a href="http://www.goscratchit.com/collections/featured-artist">Featured Artist.</a></i></b> You'll be able to purchase their collection which will directly support the artist with a % of every sale.</p>
        <p>Scratch is a pretty small team, and by pretty small we mean just two people! &nbsp;Scratch started as a labor of love by founder<b> <i><a href="mailto:chelsea@goscratchit.com">Chelsea Kent</a> </i></b>and has since grown to add the ever so talented Marketing Director&nbsp;<i><a href="mailto:kim@goscratchit.com"><b>Kim Rocque</b></a></i>. We are really excited to continue growing as we go but will always stay true to our mission to foster an&nbsp;environment that focuses on creativity by connecting the artist and their community!</p>
      <h3>Here's how Scratch works&nbsp;</h3>
      <div>
        <ol>
          <li>Every month a new <b><a href="http://www.goscratchit.com/collections/featured-artist"><i>Featured Artist</i></a> </b>collection of nail wraps will launch!</li>
          <li>Our Featured Artists are incredible Designers, Illustrators, Bloggers and Nail Artists from around the world.</li>
          <li>Their collections will consist of 3 unique designs that are&nbsp;available on the Scratch site until they sell out.</li>
          <li>Once a design sells out it's <b>GONE</b>, so if you love it make sure you grab it while you can!</li>
        </ol>
      </div>
        <p><b>We absolutely love seeing Scratch out in the wild, so please photograph your tips and tag us @goscratchit / #goscratchit!&nbsp;</b></p>
        <p>Please feel free to contact us via email at <a href="mailto:hello@goscratchit.com"><i><b>hello@goscratchit.com</b></i></a> or through <b><a href="http://facebook.com/goscratchit"><i>facebook</i></a> </b>or <i><b><a href="http://twitter.com/goscratchit">twitter</a>.</b></i>&nbsp;We'd love to hear from you!</p>
        <br />
      </div><!-- #page-content -->
  </div><!-- #page-container -->
      <div class="accent-text" id="breadcrumbs">
        <span><a href="/">Home</a></span>
        <span class="sep">/</span> <span>ABOUT US</span>
      </div>
</div><!-- #content -->