<div id="container">
	<section id="content">
		<div class="accordion">
	  	<h1>FREQUENTLY ASKED QUESTIONS</h1>
	  	<h3 class="accordion-title">General</h3>
			<div id="accordion">
				
	    	<h3> Where do these designs come from?</h3>
					<div>
					<p> We team up with incredible nail artists, designers, bloggers and illustrators from around the world, and bring a new collection of well designed nail wraps every month. Every Featured Artist receives a % of every sale.</p>
					</div>

				<h3> How can I collaborate with Scratch to make nail wraps?</h3>
					<div>
						<p> You can apply to be a Scratch Featured Artist and fill out the following application. Once it is submitted, a member from our team will review your application and be in touch with you.LIES, MUAHAHA</p>
					</div>
		
				<h3> How much is shipping for these awesome nail wraps?</h3>
					<div>
						<p> Shipping within the US is on us! For international orders, we charge a nominal two dollars per order for shipping. </p>
					</div>
			
				<h3> How long does it shipment usually take to arrive?</h3>
					<div>
						<p>Scratch orders are usually shipped within 3 business days. For domestic orders, it can take up to a week for them to arrive once they have been shipped. International orders can take up to 15 business days for orders to arrive.</p>
					</div>
			
				<h3> What are Scratch Nail wraps made up of?</h3>
					<div>
						<p> Scratch Nail wraps are thin pliable plastic with screen printed nail polish with a light adhesive. </p>
					</div>
			
				<h3> How long do they last on your nails? </h3>
					<div>
						<p> Scratch nail wraps behave just like nail polish. They chip just like nail polish and they’re applied just like nail polish. If you apply a clear coat, they last much longer. </p>
					</div>
			
				<h3> How long do the wraps last, once the package is opened? </h3>
					<div>
						<p> Scratch nail wraps can last up to 1 month once the package is opened. </p>
					</div>
			
				<h3> How do I remove the nail wraps?</h3>
					<div>
						<p> Scratch nail wraps can be removed with basic nail remover. Its that easy!</p>
					</div>
			
				<h3> Are Scartch Nail wraps safe? </h3>
					<div>
						<p> Scartch nail wraps are 100% safe. </p>
					</div>
			</div> <!-- accordion id-->
		
	
			<h3 class="accordion-title">Wholesale</h3>
			<div id="accordion2">
				
				<h3> Do you offer bulk pricing for corporate gifting/retail?</h3>
					<div>
						<p> Yes! Please inquire for more information by fill out our application forms. </p>
					</div>
			
				<h3> How do you become a Scratch Partner?</h3>
					<div>
						<p> After completing our application, we review your application and determine your eligibility. </p>
					</div>
			
				<h3> Is there a minimum order amount for Partner accounts?</h3>
					<div>
						<p> Terms vary based on the type of business. </p>
					</div>
			
				<h3> How long does it take to establish an account? When will I hear back?</h3>
					<div>
						<p> We do our best to respond to all applications within 48 hours of completion. If you don’t hear from us within that time period, shot us an email to bring it to our attention. </p>
					</div>
			
				<h3> What designs are available for wholesale? </span></h3>
					<div>
						<p> Our collection is constantly growing, so we’re constantly updating our wholesale catalog.  To view our latest catalog, check out xxx.</p>
					</div>
			
				<h3> Can I email my order directly? </h3>
					<div>
						<p> Once your application has been approved, you can order online directly and track your order online. </p>
					</div>
			
				<h3> How long will it take to receive my order once its place? </h3>
					<div>
						<p> Domestic orders ship within three days and can up to a week to arrive. International orders can take up to 15 days for delivery once they have been shipped.</p>
					</div>
			
				<h3> How much does shipping cost? </span></h3>
					<div>
						<p> Shipping cost vary depending on the destination of shipment.</p>
					</div>
			
				<h3> Do you offer exclusive distribution right for countries or regions? </h3>
					<div>
						<p> Scratch is not currently offering distribution rights to anyone, but we’re are openingly taking proposals. Please send us some to hello@goscratchit.com</p>
					</div>
			
				<h3> I’m starting a business and would like to carry Scratch nails, what do I do? </h3>
					<div>
						<p><b>A:</b> Congratulations on starting a business! We ask that you wait until your business is officially registered and you have a valid sellers permit or equivalent before applying for a Scratch Partner.</p>
					</div>
			</div> <!-- #accordion2 -->
		</div>	<!-- Accordion class -->
	</section><!-- #content -->
</div><!-- #container -->