<div id="container">
	<section id="content">
		<h1>Apply Now</h1>

		<p>Are you interested in using Inkodye in your business or considering selling it in your store? Are you thinking of incorporating Inkodye into a class or workshop? Apply to become a Lumi Partner and receive access to exclusive discounts and advanced order options. Browse our Frequently Asked Questions for more information.</p>

		<%= render :partial => 'partners/form', :locals => {:partner => @partner} %>
	</section>
</div>