<div id="container">

    <div class="clearfix" id="content" role="main">
    <div id="slideshow">

      <div id="slideshow-container">
        <ul id="slides">
              <li style="background: url('img/banner.png') no-repeat 0% 0% #ffffff ;" id="slide-1" class="slide">
				<a class="slide-link-through" href="featured-artist"></a>
			 </li>
             <li style="" id="slide-2" class="slide">
             	<a class="slide-link-through" href="/collections/featured-artist"></a>
			</li>
            <li style="" id="slide-3" class="slide">
	 			<a class="slide-link-through" href="/products/watermelons"></a>
			</li>
        </ul>
      </div><!-- #slideshow-container -->

      <ul id="slideshow-controls"></ul>
    </div><!-- #slideshow -->

<div id="product-slider">
  <div id="mini-slider-container">
  	<div class="coll-prod-caption">
    	<div class="coll-prod-meta ">
        	<h3>Partnership Benefits</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.</p>
    	</div><!-- .coll-prod-meta -->
    </div><!-- .coll-prod-caption -->

	<div class="coll-prod-caption">
    	<div class="coll-prod-meta ">
        	<h3>Partnership Benefits</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.</p>
    	</div><!-- .coll-prod-meta -->
    </div><!-- .coll-prod-caption -->

  </div><!-- #slider-container -->

</div><!-- #product-slider -->